<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-5 mb-5 mt-2">
				<h5>Create a new team</h5>
				<%= render 'form', team: @team %>
			</div>
			<div>
				<%= render 'pendings/form' %>
			</div>
			<div class="col-7">
				<% if @team.name %>
					<h5><%= @team.name %></h5>
					<table style="width: 100%;" class="table-hover">
						<thead>
							<th>Name</th>
							<th>Email</th>
						</thead>
						<tr class="user">
							<td><%= @user.name %></td>
							<td><%= @user.email %></td>
						</tr>
				</table>
				<% else %>
					<h3>No current team</h3>
				<% end %>
			</div>
		</div>
	</div>
</section>

